@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");

@import url("navigation-style.css");
@import url("css-reset.css");
@import url("responsive.css");
@import url("custom-image-slider.css");

body{
  animation: fade;
  animation-duration: 2s;
}

body,
nav {
  font-family: "Poppins", sans-serif;
}

nav {
  border-bottom: 2px solid #cc33339f;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

#top {
  background-color: #cc3333;
}

h5 {
  color: #2a435d;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

h2 {
  color: #cc3333;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0;
}

p{
  color: #2a435d;
  font-size: 20px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-head {
  margin: 10px 0;
}

.border-start{
  border-left: 1px solid #cc3333 !important;
}

.border-end{
  border-right: 1px solid #cc3333 !important ;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.row-btn svg{
  width: 32px;
  height: 32px;
  margin: 10px;
}

.images-food-items,
.description-image{
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 772px) {
  .custom-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #food-items,
  #description {
    padding: 1.2rem 0;
  }

  /* Top ----------------------------------------------------- */
  .icon-top svg {
    margin: 10px 5px;
  }

  .icon-top p {
    font-weight: 400;
    font-size: 14px;
    color: #fff8ee;
    letter-spacing: 1px;
    margin: 5px;
  }
  /* ---------------------------------------------------------- */



  /* food-items --------------------------------------------- */
  .images-food-items{
    width: 200px;
    height: 125px;
    margin: 5px;
  }

  .images-food-items:nth-child(1) {
    border-radius: 15px 0 0 15px;
  }

  .images-food-items:nth-child(5) {
    border-radius: 0 15px 15px 0;
  }
  /* ----------------------------------------------------- */

  /* Description ------------------------------------------- */
  .description-image {
    width: 518px;
    height: 348px;
  }

  .description-text h2 {
    margin: 0;
    margin-bottom: 10px;
  }

  .description-text p {
    color: #2a435d;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
  }

  .description-text ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  .description-text ul li span {
    color: #2a435d;
    font-size: 20px;
    margin: 0 10px;
  }
  /* -------------------------------------------------------- */


  

  
}
