#image-slider .container-fluid {
  padding: 0 !important;
}

.carousel-indicators {
  margin: 0 !important;
}

@media (min-width: 772px) {
  .carousel-item {
    width: 1276px;
    height: 600px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators button {
    width: 50px !important;
    height: 5px !important;
    background-color: #ffefee !important;
    margin: 1rem 10px !important;
  }
}

@media (max-width: 765px) {
  .carousel-item {
    width: 100vw;
    height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators button {
    width: 25px !important;
    height: 3px !important;
    margin: 1rem 5px !important;
  }
}
