@media (max-width: 765px) {
  h3 {
    color: #cc3333;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
  }

  h4 {
    color: #2a435d;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
  }

  p {
    color: #2a435d;
    font-size: 14px;
    margin: 10px 0;
  }

  .description-section,
  .big-offer-section,
  .my-restaurant-section,
  .delivery-section,
  .wwatb-section,
  .testimonial-section {
    margin: 1rem 0;
  }

  .icon-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-top svg {
    margin: 5px;
  }

  .icon-top p,
  #top p {
    font-weight: 400;
    font-size: 12px;
    color: #fff8ee;
    letter-spacing: 1px;
    margin: 5px;
  }

  .images-food-items {
    width: 100% !important;
    height: 250px !important;
    margin-bottom: 5px;
  }

  .description-image {
    width: 100%;
    height: 250px;
  }

  .description-text p {
    color: #2a435d;
    line-height: 20px;
  }

  .description-text ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  .description-text ul li span {
    color: #2a435d;
    font-size: 14px;
    margin: 0 5px;
  }

  .big-offer-section {
    display: none;
  }

  /* My Restaurant */
  .image-my-restaurant {
    width: 100%;
    height: 250px;
  }

  .row-my-restaurant {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .row-my-restaurant .col-sm-2 {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .row-my-restaurant .col-sm-10 {
    width: 85%;
  }

  .row-my-restaurant img {
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .custom-card {
    margin: 10px 0;
    padding: 25px;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .custom-card-logo {
    width: 80px;
    height: 80px;
    margin: 25px auto;
  }

  .custom-card h4 {
    color: #2a435d;
    margin-bottom: 20px;
  }

  .custom-card p {
    color: #2a435d;
    margin-bottom: 20px;
  }

  .custom-card-bg-red {
    background-color: #cc3333;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  }

  .custom-card-bg-red h4,
  .custom-card-bg-red p {
    color: #ffffff;
  }

  .image-delivery {
    width: 100%;
    height: 250px;
  }
}
